@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica&display=swap');
@font-face {
    font-family: 'titulo';
    src: url(AquilineTwo.ttf);
}

:root{
    --branco: rgb(243, 235, 231);
    --cor-de-fundo: #00162E;
    --fundo-senha: #e6cfbe;
    --fundo-texto: #001E40;
    --borda: #6e504d;
    --roboto: 'IM Fell DW Pica', sans-serif;
}

*{
    font-weight: 400;
}

body{
    color: var(--branco);
    background-image: url(n.png);
    background-size: contain;
    font-family: var(--roboto);
}

h2, h3 {
    margin: 0;
}

.titulo-principal{
    font-family: 'titulo';
    font-size: 70px;
    margin: 0;
    line-height: 1.5;
}

.titulo-secundario{
    font-size: 24px;
    margin: 10px 0 20px 0;
    line-height: 3;
}

.conteudo-titulo{
    text-align: center;
    margin-bottom: 15px;
}

.conteudo-senha{
    margin-top: 0px; 
    background: var(--fundo-senha);
    background-clip: padding-box;
    padding: 24px;
    border: 20px solid transparent;
    border-image: url(ivorylacelarge.png) 40 round;
}

#campo-senha{
    margin-top: 0px;
    background-color: var(--fundo-senha);
    border: none;
    color: #9e8278;
    font-family: var(--roboto-mono);
    font-size: 40px;
    width: 70%;
}

#campo-senha:focus{
    outline: none;
}

.conteudo{
    max-width: 1200px;
    margin: 0 auto;
}

.parametro{
    background-image: url(s.png);
    background-clip: padding-box;
    border: 20px solid transparent;
    border-image: url(m.png) 50 round;
    margin-top: 32px;
    padding: 24px;
}

.parametro-titulo{
    font-family: var(--roboto-mono);
    font-size: 28px;
}

.parametro-senha__titulo{
    font-size:24px;
}

.parametro-coluna__senha{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.parametro-senha{
    width: 50%;
    margin: 0 auto;
}

.parametro-senha-botoes{
    display: flex;
    justify-content: left;
}

.parametro-senha__botao{
    background-color: #eeddc3;
    border-radius: 20px;
    color: #6e504d;
    border: 2px solid var(--borda);
    padding: 24px;
    font-size: 24px;
    cursor: pointer;
}
.parametro-senha__texto{
    color: #6e504d;
    padding: 24px;
    border-radius: 20px;
    border-top: 2px solid var(--borda);
    border-bottom: 2px solid var(--borda);
    margin: 0 5px 0 5px;
    font-size: 24px;
    background-color: #eeddc3;
}

label{
    font-size: 20px;
    color: #b3978d;
    margin-right: 30px;
}

.checkbox{
    width: 20px;
    height: 20px;
    cursor: pointer;
    accent-color: #cfb178;
}

.cadeado{
    cursor: pointer;
    width: 7%;
    display: block;
    margin: 0 auto 10px auto;
}

.barra{
    border-radius: 20px;
    background-color: #522a27;
    height: 30px;
    width: 100%;
}

.forca{
    border-radius: 20px;
    height: 30px;
    position: relative;
    bottom: 30px;
    transition: width 0.4s ease, background-color 0.4s;
}

.fraca{
    background-color: #801d28;
    width: 25%;
}

.media{
    background-color: #f8c962;
    width: 50%;
}

.forte{
    background-color: #73ac6c;
    width: 100%;
}

.parametro-senha-textos{
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 30px;
}

.botao-gerarsenha{
    display: flex;
    margin-top: 20px;
    justify-content: center;
    width: 100%;
}

.btGerar{
    padding: 15px 20px;
    font-size: 18px;
    border-radius: 10px;
    font-family: var(--roboto);
    border-color: #daa942;
    background-color: #fdf3ed;
    color: #6e504d;
    cursor: pointer;
}

button:active{
    transform: translateY(5px);
}

.checkbox:active{
    transform: translateY(4px);
}

.chave{
    width: 10%;
    display: flex;
    margin-bottom: 2px;
}

@media screen and (min-width: 768px) {
    .parametro-coluna__senha{
        flex-direction: row;
    }
}